
/* 

#harikumar{
    display:grid;
    grid-template-columns: 48% 50% ;
    grid-template-rows: auto; 

}
#team1 {
    position: absolute;
    border-radius: 22px;
    width: 94%;
    padding: 18px 11px;
    background: #b5b5b5 !important;
    border-bottom-right-radius: 3px;
}
#team2 {
    position: absolute;
    border-radius: 22px;
    width: 94%;
    padding: 18px 11px;
    background: #b5b5b5 !important;
    border-bottom-left-radius: 3px;
}
#okk{
    background-color:white;
    position: absolute;
    border-radius: 10px;
    padding: 8px 11px;
    width: 70%;
}
#button{
    position: absolute;
    margin-left: 40%;
}
#time{
    position:absolute;
    margin-left: 90%;
}
#icon{
    position:  absolute;
    margin-right: 40px;
    margin-left: 110px;
    bottom: -px;
    height: 0px;
    box-shadow: 5px;
}
#lll{
    margin-left: 85%;
}
#app{
    margin-left: 89%;
    color:orange;
border-bottom: solid 2px orange;

}
#input{
    margin-left: -15%;
    margin-right: 35%;
    border-radius:20px;
    border-color: #ccc;
}
#pic{
    position: absolute;
    width: 30% !important;
    height: 10px;
}
img.card-img.img.img-responsive {
    width: 20%;
    margin-right: 15px;
    margin-top: 10px;
}
#ope{
    position: absolute;
    margin-left: 83%;
    height: 100px;
}
#kumar{
    position: absolute;
    height: 5px;
}
#mam{
 float: right;
margin-top: -3%;
padding: 10px;
background-color: #fff;
border-radius: 50%;
color: blue;
}
#delete{
    border-radius:20px;
  width: 120px;
}  */


